<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229680268624-ntnpbek7k9ohlcfcv2s70qg9d7ourdme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229680268624-ntnpbek7k9ohlcfcv2s70qg9d7ourdme</string>
	<key>API_KEY</key>
	<string>AIzaSyCeFcjmfQkpf-648u4G4Wm_LNIqun88neM</string>
	<key>GCM_SENDER_ID</key>
	<string>229680268624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ak.Chat-App</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ae81b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ae81b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229680268624:ios:ae008adc3d99af71655855</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-ae81b.firebaseio.com</string>
</dict>
</plist>